.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px gray;
}
.note{
    font-size: 15px;
    color: white;
}

.footer{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: grey;
    line-height: 3;
    text-align: center;
}

canvas{
    border: 6px solid rgb(223, 220, 220);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(206, 201, 201);
}